@import "tailwindcss";

@layer base {
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Sora',sans-serif;
    background-color: #DAD8D4;;
}
}

@layer utilities {
  /* Camada 1: Efeito de Ruído (Texture) */
  .bg-noise {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }
  /* Camada 2: Animações dos Blobs (Manchas) */
  @keyframes blob-move {
    from { transform: translate(0,0) rotate(0deg); }
    to { transform: translate(50px, 100px) rotate(15deg); }
  }
 .animate-blob-slow{
    animation: blob-move 20s infinite alternate ease-in-out;
  }
}
